<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.myandroid.alarmclock"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10"/>
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
	<uses-permission android:name="com.android.broswer.permission.WRITE_HISTORY_BOOKMARKS" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".AlarmClockActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".AlarmClockActivity2" android:label="Media Player"/>
		<activity android:name=".ClockConfig" android:label="@string/config_screen_name"/>
		<service android:exported="false" android:name=".MusicService">
            <intent-filter>
                <action android:name="com.myandroid.alarmclock.action.PLAY" />
                <action android:name="com.myandroid.alarmclock.action.PAUSE" />
                <action android:name="com.myandroid.alarmclock.action.SKIP" />
                <action android:name="com.myandroid.alarmclock.action.REWIND" />
                <action android:name="com.myandroid.alarmclock.action.STOP" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.myandroid.alarmclock.action.URL" />
                <data android:scheme="http" />
            </intent-filter>
        </service>

        <receiver android:name=".MusicIntentReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
    </application>
</manifest>